<a href="https://colab.research.google.com/github/AtasAlex/CPE-21A-PLD-1-1/blob/main/Introduction_to_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [17]:
if 5 > 4: print("five is greater than four! ") #this is a comment

five is greater than four!

Variable Declaration

In [21]:
#variable with single value

x=15
y=17
if x<y:
  print("x is less than y")
else:
    print("y is less than x")
#variable with multiple values

a,b=30,35
print("the value of a is:",a)
print("the value of b is",b)

x is less than y
the value of a is: 30
the value of b is 35

Casting and Type() Function

In [24]:
f = int(10) #integer
g = float(10) #decimal/fractional
print(f)
print(g)

print(type (f))
print(type (g))

10
10.0
<class 'int'>
<class 'float'>

Double Quote or single quote

In [28]:
name= "Alex"
name1= 'Alexa'
print(name)
print(name1)

Alex
Alexa

Case Sensitive

In [30]:
a= "Alex"
print(a)

Alex

Variable Declaration

In [31]:
x= 15
y=17
if x<y:
  print("x is less than y")
else:
  print("y is less than x")
#variable with multiple values

a,b= 30,35
print("the value of a is, a")
print("the value of b is, b")
#multiple variables with single value

q = r = s = 'Alex'
print(q)
print(r)
print(s)

x is less than y
the value of a is, a
the value of b is, b
Alex
Alex
Alex

Output Variable

In [34]:
i = 'age'
I = 'address'
print ("please put your" + " " + i)
print ("please put your" + " " + I)

please put your age
please put your address