<a href="https://colab.research.google.com/github/AtasAlex/CPE-21A-PLD-1-1/blob/main/Labaratory_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
#Example 1

n=20
totalnumbers= n
sum=0
average=0

while n>=0:
  sum+=n
  n-=1 
print('sum', sum)
average= sum/totalnumbers
print('average',average)

sum 210
average 10.5

In [37]:
#Example 2
class Student:
  def __init__(myself,name, age, studentnumber, course, school):
    myself.name = name
    myself.age = age
    myself.studentnumber = studentnumber
    myself.course = course
    myself.school = school
myself = Student('Alex Sidamon Atas', 19, 202201113,'Computer Engineering','Cvsu' )
print('My name is', (myself.name))
print('I am', (myself.age), 'years old')
print('My student number is', (myself.studentnumber))
print('My course is', (myself.course))
print('The name of my school is', (myself.school))

My name is Alex Sidamon Atas
I am 19 years old
My student number is 202201113
My course is Computer Engineering
The name of my school is Cvsu