<a href="https://colab.research.google.com/github/AtasAlex/CPE-21A-PLD-1-1/blob/main/Operations_and_Expressions_in_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boolean Operators

In [17]:
a=22
b=10
c=a>b
print(a>b)
print(a==a)
print(b<a)
print(c)

True
True
True
True

In [36]:
print(bool("Hello"))
print(bool(0))
print(bool(True))
print(bool(False))
print(bool(22))
print(bool({}))
print(bool(None))

True
False
True
False
True
False
False

In [41]:
def myFunction ():return True

if myFunction():
  print("Yes")
else:
  print("No")

Yes

In [42]:
X=1
Y=2
Z=3

print(X>Y)
print(Z==Z)
print(Y!=Y)

False
True
False

#Phyton Operators

In [44]:
print(22+10)
print(22-10)
print(22*10)
print(22**10)
print(22//10)
print(22//10)
print(22%10)

32
12
220
26559922791424
2
2
2

#Bitwise Operators

In [45]:
i=11 #0000 1011
o=7  #0000 0111 
p=9  #0000 1010

print(i^o)
print(~i)
print(i<<2)
print(o>>2)

12
-12
44
1

#Assignment Operators

In [48]:
x=3
x+=4 #same as x=x+4
print(x)
x

7

7

#Logical Operators

In [47]:
a=2
b=3

print(a>b and b==b)
print(b>a and a==a)

False
True